<div class="card-container snow-dots">
    <div class="flare"></div>
    <div class="gradient-container">
        <div class="gradient"></div>
    </div>
    <div class="card-content">
        <div class="title">
            🍪 Cookies
        </div>
        <div class="hint">
            I use cookies to customize your content and ads.
        </div>
        <div class="buttons">
            <button customButton theme="gradient">Deny All</button>
            <button customButton theme="filled">Accept<mat-icon>person</mat-icon></button>
        </div>
    </div>
</div>