@use 'variables' as *;

.layout-container {
    display: flex;
    min-height: 100vh;
    background-color: $bg-main;
}

.layout-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    height: 100vh;
    box-sizing: border-box;
}