@use 'colors' as *;

.separator {
    width: 100%;
    height: 2px;
    border-radius: 50% / 25%;
    background: radial-gradient(
        circle,
        $title-color 0%,
        $title-color 20%,
        $border-color 100%,
    );

    &.vertical {
        width: 1px;
        height: 100%;
        border-radius: 1px / 50%;
    }
}