$hint-color: #999999;

/*********/
/* Tones */
/*********/

$dark-1: rgb(16, 16, 16);
$dark-2: rgb(25, 25, 25);
$dark-3: rgb(28, 28, 28);
$dark-4: rgb(32, 32, 32);
$dark-5: rgb(28, 28, 28);
$dark-6: rgb(28, 28, 28);

/***********/
/* Borders */
/***********/

$border-color: #4F4739;
$secondary-border-color: #222222;

$title-color: #C8A86A;
$primary-tone-font-color: white;
$inactive-font-color: #78777d;

/*********/
/* Cards */
/*********/

$card-background-color: #131313;
$card-outline-color: #202020;