@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Marck+Script&display=swap');

$small-font-size: 12px;
$regular-font-size: 14px;
$medium-font-size: 16px;
$xlarge-font-size: 80px; 