@use 'colors' as *;

.main-loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $container-background-color;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-loading > span {
    color: grey;
    font-size: 10em;
    font-weight: 100;
}