<section class="contact-section">
    <div class="container">
        <h2 class="section-title">Get in Touch</h2>
        <div class="contact-content">
            <p class="intro">
                I'm always open to discussing new opportunities, collaborations, or just having a chat about technology.
            </p>
            <div class="contact-links">
                <a href="mailto:moukhtar.zoubairov@insa-toulouse.fr" class="contact-link">
                    <mat-icon>email</mat-icon>
                    <span>moukhtar.zoubairov@insa-toulouse.fr</span>
                </a>
                <a href="https://linkedin.com/in/moukhtar-zoubairov" target="_blank" class="contact-link">
                    <mat-icon>link</mat-icon>
                    <span>LinkedIn Profile</span>
                </a>
            </div>
            <div class="location">
                <mat-icon>place</mat-icon>
                <span>Toulouse, France</span>
            </div>
        </div>
    </div>
</section>