@use 'colors' as *;

.card-container {
  position: relative;
}

.card {
  background-color: $card-background-color;
  width: fit-content;
  height: fit-content;
  border: 2px solid $border-color;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: all;
  transition: transform 0.75s ease-out, box-shadow 0.2s ease;
}

.card > * {
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
}

.wrapper {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300%;
  height: 300%;
  z-index: 2;
}