// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "button" as *;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
} /* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: "Inter", sans-serif;
  color: #eeeeee;
  overflow: hidden;
}


main {
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}


@keyframes fadeFromBottom {
    0% {
        transform: translateY(65px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOutToTop {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-60px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
    }
}

.fade-from-bottom {
    // animation: fadeFromRight 0.2s ease-out 0.1s 1 normal forwards;
    // animation: fadeFromRight 0.8s ease-out 1 normal forwards;
    animation: fadeFromBottom 0.5s cubic-bezier(0.17,0.33,0.25,1.02) 0.4s forwards;
}

.fade-out-to-top {
    // animation: fadeFromRight 0.2s ease-out 0.1s 1 normal forwards;
    // animation: fadeFromRight 0.8s ease-out 1 normal forwards;
    animation: fadeOutToTop 0.5s cubic-bezier(0.17,0.33,0.25,1.02) 0.4s forwards;
}

.fade-out {
    animation: fadeIn 0.5s cubic-bezier(0.17,0.33,0.25,1.02) 0.4s forwards reverse;
}