@use 'colors' as *;
@use 'fonts' as *;

#projects-section {
    display: flex;
    flex-direction: column;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    gap: 40px;
}

section header {
    display: flex;
    flex-direction: column;
    padding: 20px 25%;
    align-items: center;

    h2 {
        color: $title-color;
        font-size: $xxlarge-font-size;
        font-weight: normal;
        margin-bottom: 10px;
    }

    p {
        text-align: center;
        font-size: $medium-font-size;
        color: white;
    }
}