<div class="hero-container">
    <div class="self-picture">
        <img src="images/self-picture.png"/>
    </div>
    
    <div class="title-container">
        <div class="subtitle greeting fade-from-bottom">
            <span class="wave-emoji">👋</span> Hello ! I'm Moukhtar Zoubairov
        </div>
        <div class="title fade-from-bottom">
            A <span>Software engineer</span>
        </div>
        <div class="subtitle fade-from-bottom">
            I specialise in designing meaningful user experiences, backed by strong engineering and thoughtful systems.
        </div>
        <div class="contacts-container">
            <button customButton theme="normal">
                HeyS
            </button>
        </div>
    </div>
</div>