<div class="hero-container">
    <div class="gradient"></div>

    <div class="content">
        <div class="about-me">
            <div class="title-container">
                <app-title title="Moukhtar"></app-title>
                <app-separator class="separator"></app-separator>
                <app-title title="Zoubairov" capitalPosition="below"></app-title>  
            </div>

            <div class="stats-container">
                <div class="stat">
                    <span class="number">2</span>
                    <span class="title">Internships</span>
                </div>
                <app-separator direction="vertical"></app-separator>
                <div class="stat">
                    <span class="number">20+</span>
                    <span class="title">Projects</span>
                </div>
                <app-separator direction="vertical"></app-separator>
                <div class="stat">
                    <span class="number">5+</span>
                    <span class="title">Years of experience</span>
                </div>
            </div>
        </div>
        
        <div class="picture-container">
            <img class="picture" src="/images/self-picture.png" alt="">
            <div class="frame-element"></div>
        </div>
    </div>
</div>