@use 'fonts' as *;
@use 'colors' as *;

.hero-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > app-grid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(8px);
        background: radial-gradient(ellipse, rgba(21, 21, 21, 0) 0%, rgba(0, 0, 0, 0.67) 85%);
        pointer-events: none;
    }

    > .gradient-linear {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(8px);
        background: linear-gradient(0deg, rgba(190, 15, 149, 0.67) 0%, rgba(21, 21, 21, 0) 100%);
        pointer-events: none;
        z-index: 5;
    }
}


.content {
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    .self-card {
        display: flex;
        flex-direction: column;
        gap: 8px;
        pointer-events: all;

        .self-picture {
            width: 270px;
            aspect-ratio: 1/1;
            background: url('/images/hero.png');
            background-size: cover;
            border-radius: 8px;
            border: 1px solid $container-border-color;
        }

        .self-name {
            color: $primary-tone-font-color;
            font-weight: 500;
            font-size: $medium-font-size;
        }

        .self-tags {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }
    }
   
    .title-container {
        z-index: 20;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        
        > .subtitle {
            opacity: 0;
            animation-delay: 0s;
            animation-duration: 0.8s;
            font-size: $medium-font-size;
        }

        > .title {
            font-size: $xlarge-font-size;
            opacity: 0;
            animation-duration: 0.8s;
            animation-delay: 0.72;

            &.secondary {
                font-size: calc($xlarge-font-size + 10px);
                font-family: "Marck Script", cursive;
                opacity: 0;
                animation-delay: 1.05s;
                margin-top: -10px;
                display: flex;
                flex-direction: row;
                line-height: 1.2;

                > div span {
                    color: #44ADDE;
                    opacity: 0;
                    display: inline-block;

                    &.inline {
                        display: inline;
                    }
                }
            }
        }
    }
}

.wave-emoji {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform-origin: 100% 100%;
  pointer-events: all;
  cursor: default;
}

.wave-emoji:hover {
  animation: waveMotion 1s ease-in-out;
}

@keyframes waveMotion {
  0%   { transform: rotate(  0deg); }
  15%  { transform: rotate( 14deg); }
  30%  { transform: rotate(-8deg); }
  45%  { transform: rotate( 14deg); }
  60%  { transform: rotate(-4deg); }
  75%  { transform: rotate( 10deg); }
  100% { transform: rotate(  0deg); }
}


.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    width: fit-content;
    border: 1px solid $container-border-color;
    border-radius: 8px;
    color: $primary-tone-font-color;
    font-size: $regular-font-size;

    mat-icon {
        font-size: $regular-font-size;
        height: $regular-font-size;
        width: $regular-font-size;
    }
}