@use 'fonts' as *;
@use 'colors' as *;

.hero-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/images/backgrounds/bg-2.jpg");
    background-size: cover;
    background-position: center center;


    > .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 60%, rgb(0,0,0));
        pointer-events: none;
    }
}

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadeIn 0.5s ease-out 2.3s 1 backwards;

    .picture {
        height: 70vh;
        width: auto;
        object-fit: contain;
        border: 2px solid $secondary-border-color;
        border-radius: 10px;
    }

    .frame-element {
        width: 2vw;
        aspect-ratio: 1/1;
        border: 2px solid $border-color;
        position: absolute;
        bottom: -1px;
        right: -1px;
        transform: translate(50%, 50%) rotate(45deg);
    }
}

.content {
    width: 100%;
    padding: 0px 10vw;
    justify-content: space-between;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    z-index: 10;

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;

        .title-container {
            font-weight: lighter;
            display: flex;
            flex-direction: column;
            line-height: 1;
            width: fit-content;
            animation: fadeFromBottom 0.8s ease-out 1.4s 1 backwards;
        }

        .description-container {
            animation: fadeFromBottom 0.8s ease-out 1.8s 1 backwards;
            
            .actions {
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-top: 12px;
                align-items: center;
                color: white;
                font-size: $regular-font-size;

                .action {
                    padding: 4px 8px;
                    background-color: #1f1f1f;
                    border: 1px solid $border-color;
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    align-items: center;
                    justify-content: center;
                    font-size: $regular-font-size;
                    color: white;
                    border-radius: 6px;

                    mat-icon {
                        transform: scale(0.9);
                        color : $title-color;
                    }
                } 
            }

            .description {
                color: white;
                max-width: 100%;
                white-space: normal;
            }
        }
        
        .stats-container {
            animation: fadeFromBottom 0.8s ease-out 2.2s 1 backwards;
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: fit-content;
            
            .stat {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                align-items: center;
                
                .number {
                    font-size: $xxlarge-font-size;
                    color: $title-color;
                }
                
                .title {
                    color: white;
                    font-size: $medium-font-size;
                }
            }
        }
    }
}

.separator {
    margin-bottom: 10px;
}
